
*{
    border: 1px solid red;
}

.body{
    font-family: 'Roboto', sans-serif;
}

.card{
    padding: 1rem;
    height: 100%;
    width:100%;
    display: inline-flex;
}

.grid{
    padding: 1rem;
    height: 100%;
    width: 25%;
    display: grid;
    grid-template-columns: subgrid;
    text-align: left;
    grid-column: span 3;
}

.shadowed {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.logo-div{
    display: grid;
    width: 50%;
}

.find-more-btn{
    color:white;
    background-color: #00b300;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    font-size: 15px;
    order:3;
    align-content: flex-start;
    display: inline-block;
    padding: .5rem 1rem;
    
    
}
.title{
 color: black;
 font-size: 20px;
 order:1;
 display: inline-block;


}

.subtitle{
 color: grey;
 font-size: 15px;
 order:2;
 flex-flow: row wrap;
 align-content: flex-end;
 display: inline-block;
}

