
* {
    border: 1px solid red;
}

.body{
    font-family: 'Roboto', sans-serif;
}

.card{
    padding: 1rem;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 5px;
}

.shadowed {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.logo-div{
    height: 200px;
    grid-row: 1 / 4;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url('otters.png');
}

.find-more-btn{
    color:white;
    background-color: #00b300;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    font-size: 15px;
    order:3;
}

.title{
    color: black;
    font-size: 20px;
    order:1;
}

.subtitle{
    color: grey;
    font-size: 15px;
    order:2;
}

